<section>
  <button (click)="logout()">Logout</button>
  <button (click)="toProfile()">Profile</button>
</section>

<section>
  List of all Users

  <ul>
    <li *ngFor="let user of users"> <span (click)="createRequest(user.username)">{{user.username}}</span> | {{user.lastname}}, {{user.firstname}} </li>
  </ul>
</section>


<section *ngIf="reqList?.length">
  Request List
  <ul>
    <li *ngFor="let item of reqList">
      Req: {{item.user}}
      <mat-icon (click)="acceptRequest(item.id)">done</mat-icon>
      <mat-icon (click)="deleteRequest(item.id)">delete</mat-icon>
    </li>
  </ul>
</section>


<section>
  Contact List
  <ul *ngIf="contacts">
    <li *ngFor="let item of contacts"> {{item.contact}} </li>
  </ul>
</section>
