

<section>
  <h1>Sign UP</h1>

  <form [formGroup]='createForm' (ngSubmit)="createUserRequest()">
    <label>Firstname</label>
    <input type="text" formControlName='firstname'><br>
    <label>Lastname</label>
    <input type="text" formControlName='lastname'><br>
    <label>Username</label>
    <input type="text" formControlName='username'><br>
    <label>Password</label>
    <input type="password" id="p1" formControlName='password' (change)="password($event)"><br>
    <label>Password enter again</label>
    <input type="password" id="p2" (change)="password($event)"/>
    <button type="submit">
      create user
    </button>
  </form>
</section>
