{{receiver}}
<div class="message-field">
  <mat-action-list>
    <div  *ngFor="let data of ws.receivedData">
      <button mat-list-item  *ngIf="receiver == data.receiver">
          <span>{{convertDateString(data.send_date)}}</span>  {{data.text}} ({{data.receiver}})
      </button>
      <button mat-list-item *ngIf="receiver != data.receiver" class="sender">
          <span>{{convertDateString(data.send_date)}}</span>  {{data.text}} ({{data.receiver}})
      </button>
    </div>
  </mat-action-list>
</div>

<form (ngSubmit)="sendMessage(message); message =''" >
  <mat-label>Sent message</mat-label>
  <input matInput [(ngModel)]="message" name="message" type="text"/>
  <button type="submit" >Send</button>
</form>

