span {
  font-size: x-small;
}

.sender {
  display: flex;
  justify-content: right;
  background-color: rgb(74, 74, 245);
  color: white;
}

button {
  display: flex;
  justify-self: auto;
}

.message-field {
  margin-top: 2.5%;
  margin-left: 7%;
  margin-right: 7%;

  border: solid blue;

  height: 10em;
  width: 80%;
  overflow-y: scroll;
}

.send-message {
  padding: 0.25em;
  margin-left: 7%;
  margin-right: 7%;
  display: flex;

  justify-content: flex-end;
}

mat-form-field {
  width: max-content;
}


