span {
  font-size: x-small;
}

.sender {
  display: flex;
  justify-content: right;
  background-color: rgb(74, 74, 245);
  color: white;
}

button {
  display: flex;
  justify-self: auto;
}

.message-field {
  _list-style: none;
  _background: none;
  margin-top: 2.5%;
  margin-left: 7%;
  margin-right: 7%;
  _padding: 0 7% 7% 0;
  border: solid blue;
  _top:60px;
  height: 10em;
  width: 80%;
  overflow-y: scroll;
}

.send-message {
  _padding: .3em;
  _width: max-content;
  _display: flex;
  _justify-self: baseline;

  margin-left: 7%;
  margin-right: 7%;
  display: flex;

  justify-content: flex-end;
}

mat-form-field {
  width: max-content;
}


