<div class="message-field" #scrollMe [scrollTop]="scrollMe.scrollHeight">
  <mat-action-list>
    <div *ngFor="let data of ws.receivedData">
      <button mat-list-item  *ngIf="receiver == data.receiver">
          <span>{{convertDateString(data.send_date)}}</span>  {{data.text}}
      </button>
      <button mat-list-item *ngIf="receiver != data.receiver" class="sender">
          <span>{{convertDateString(data.send_date)}}</span>  {{data.text}}
      </button>
    </div>
  </mat-action-list>
  <div id="anchor"></div>
</div>

<div class="send-message">
  <mat-form-field  appearance="outline">
    <mat-label>Sent message to {{receiver}}</mat-label>
    <input matInput type="text"/>
  </mat-form-field>

  <button mat-fab color="primary" [disabled]="!message" (click)="sendMessage()">
    <mat-icon>send</mat-icon>
  </button>
</div>



