<section>
  <button (click)="backHome()">Home</button><button (click)="signUp()">Sign UP</button>
</section>

<section>
  <form [formGroup]='signInForm' (ngSubmit)="login()">
    <label>Username</label>
    <input type='text' formControlName='username' /> <br>
    <label>Password</label>
    <input type='password' formControlName='password' />
    <div>
        <button type ='submit' [disabled]="!this.signInForm.value">
            Login
        </button>
    </div>
</form>
</section>
