<section>
  <mat-icon (click)="logout()">exit_to_app</mat-icon><br>
  <mat-icon (click)="toSongs()">music_video</mat-icon><br>
  <mat-icon (click)="toContacts()"> contacts</mat-icon><br>
  <mat-icon (click)="toMessages()"> message</mat-icon>
</section>

<h1>Profile <div *ngIf="currentUser">{{currentUser.firstname}} {{currentUser.lastname}}</div></h1>

<section>
  <!-- <div *ngIf="profilePhoto">
    <img [src]="profilePhoto" alt="profile photo" class="profile-pic">
  </div> -->

  <button type="button" (click)="fileInput.click()">
    <span>Upload</span>
    <input #fileInput type="file" (change)="onFileInput($event)" style="display: none;"/>
  </button>
</section>


<mat-card>
  <mat-card-content *ngIf="profilePhoto.length > 0">
    <img [src]="profilePhoto" alt="profile photo" class="profile-pic">
  </mat-card-content>

  <button mat-raised-button color="primary">
    <span>Upload</span>
    <input #fileInput type="file" (click)="onFileInput($event)"  class="chooseFile">
  </button>
</mat-card>
