

<h1>Profile <div *ngIf="currentUser">{{currentUser.firstname}} {{currentUser.lastname}}</div></h1>

<mat-card>
  <mat-card-content>
    <img *ngIf="!profilePhoto" [src]="profilePhoto" class="profile-pic">
  </mat-card-content>

  <button mat-raised-button color="primary">
    <input #fileInput id="button-file" hidden="true" type="file" (change)="onFileInput($event)" accept=".jpg" />
    <label for="button-file" class="md-button md-raised md-primary">Upload</label>
  </button>
</mat-card>
