/* You can add global styles to this file, and also import other style files */

section {
  padding: 0.5em;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.card {
  width: 400px;
  margin-top: 2rem;
  max-height: 80vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-border {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24), 0 4px 8px rgba(0, 0, 0, 0.12);
  padding: 5vh;
  margin: 5vh;
}
