<section>
  <button (click)="logout()">Logout</button>
  <button (click)="profile()">Profile</button>
</section>


<h2>Music Component</h2>

<section>
  <button (click)="musicAll()">Music all</button>
  <button (click)="musicList=[]">Clear</button>

  <div *ngIf="musicList">
    <button (click)="playAllSongs()">Play All</button><br><br>
    <div *ngFor="let item of musicList">
      <button class="btn-display" (click)="playSong(item.id, item)">{{item.id}} - {{item.artist}} - {{item.title}} - {{item.uploaded_by}}</button>
    </div>
  </div>
</section>

<form [formGroup]="addSongForm" (ngSubmit)="addSong()">
  <div class="form-group">
    <label for="artist">Artist:</label>
    <input formControlName="artist" type="text">
  </div>

  <div class="form-group">
    <label for="title">Title:</label>
    <input formControlName="title" type="text">
  </div>

  <div class="form-group">
    <label for="genre">Genre:</label>
    <input formControlName="genre" type="text">
  </div>

  <div class="form-group">
    <label for="feature">Feature:</label>
    <input formControlName="feature" type="text">
  </div>

  <div class="form-group">
    <label for="guide">File:</label>
    <input type="file" #file accept=".mp3" (change)="setFile($event)">
  </div>

  <div class="form-group">
    <button>Upload file</button>
  </div>
</form>

